<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:vh="http://In2code/Powermail/ViewHelpers"
      data-namespace-typo3-fluid="true">
<div class="powermail_fieldwrap powermail_fieldwrap_type_recaptcha powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
    <label class="{settings.styles.framework.labelClasses}" title="{field.description}">
        <vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss>
        <span class="mandatory">*</span>
    </label>
    <div class="{settings.styles.framework.fieldWrappingClasses}">
        <f:if condition="{settings.powermailcaptcha.sitekey} != 'abcdef'">
            <f:then>
                <f:render partial="Captcha/{settings.powermailcaptcha.captchaMethod->f:format.case(mode:'capital')}"
                          arguments="{_all}"/>
            </f:then>
            <f:else>
                <p>
                    Please check the configuration for the currently select captchaMethod
                    <b>{settings.powermailcaptcha.captchaMethod}</b>
                </p>
            </f:else>
        </f:if>
    </div>
</div>
</html>