<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:section name="Sitekey">
    <div class="alert alert-warning" role="alert">
        <strong>Captcha not rendered</strong> - Please check the configuration for the currently selected captchaMethod
        <code>{settings.powermailcaptcha.captchaMethod}</code>
    </div>
</f:section>
<f:section name="Spamshield">
    <div class="alert alert-warning" role="alert">
        <strong>Captcha not rendered</strong> - Powermail spamshield is <u>disabled</u>.
    </div>
</f:section>
</html>